django
gunicorn
python-dotenv
whitenoise
django-admin-datta==1.0.10

# psycopg2-binary
# mysqlclient

# Tooling
django-dynamic-datatb==1.0.25
django-api-generator==1.0.17
asgiref==3.7.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
contourpy==1.1.0
cycler==0.11.0
Django==4.2.3
django-admin-datta==1.0.10
django-api-generator==1.0.17
django-dynamic-datatb==1.0.25
djangorestframework==3.14.0
et-xmlfile==1.1.0
fonttools==4.41.1
fsspec==2023.6.0
gunicorn==21.2.0
idna==2.10
importlib-resources==6.0.0
kiwisolver==1.4.4
matplotlib==3.7.2
numpy==1.24.4
openpyxl==3.1.2
packaging==23.1
pandas==2.0.3
Pillow==10.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
requests==2.25.1
selenium==3.141.0
six==1.16.0
sklearn==0.0.post7
soupsieve==2.2.1
sqlparse==0.4.4
typing-extensions==4.7.1
tzdata==2023.3
urllib3==1.26.4
whitenoise==6.5.0
xlrd==2.0.1
zipp==3.16.2
