{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="row">

    <!--[ Client Information section ] start-->
    <div class="col-xl-12 col-md-6">
      <div class="card Recent-Users">
        <div class="card-header">
          {% if table_html %}
            <h3>{{MENT}}</h3>
            <br>
            <h6>if you want to change data, please "Upload New File" button.</h6>
            <br>
            <a href="{% url 'example_upload' %}" class="btn btn-primary">Upload New File</a>
          {% else %}
            <h3>Upload Data</h3>
            <form method="post" enctype="multipart/form-data">
              <br>
              {% csrf_token %}
              <input type="file" name="zip_file">
              <input type="submit" value="Upload">
            </form>
            <div>
              <br>
              <br>
              <h5>Input File : RNAseq Analysis Result 'Zip' file</h5>
              <br>
              <br>
              <h5>Directory Structure</h5>
              <br>
              <br>

              <ul class="tree">
                <li>
                  <label for="root"><h6>20000101_DNALINK_HGD.zip</h6></label>
                  <ul>
                    <li>
                      <label for="node1" class="lastTree"><h6>1.DEG</h6></label>
                      <ul>
                        <li>
                          <label for="node21" class="lastTree"><h6>Comparison 1 DEG result.xlsx</h6></label>
                        </li>
                        <li>
                          <label for="node21" class="lastTree"><h6>Comparison 2 DEG result.xlsx</h6></label>
                        </li>
                        <li>
                          <label for="node21" class="lastTree"><h6>Comparison ... DEG result.xlsx</h6></label>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <label for="node2"><h6>2.Image</h6></label>
                      <ul>
                        <li>
                          <label for="node21" class="lastTree"><h6>Images File</h6></label>
                        </li>
                      </ul>
                      </li>
                    <li>
                      <label for="node3"><h6>3.Ontology</h6></label>
                      <ul>
                        <li>
                          <label for="node31" class="lastTree"><h6>Comparison 1 Ontology result.xlsx</h6></label>
                        </li>
                        <li>
                          <label for="node31" class="lastTree"><h6>Comparison 2 Ontology result.xlsx</h6></label>
                        </li>
                        <li>
                          <label for="node31" class="lastTree"><h6>Comparison ... Ontology result.xlsx</h6></label>
                        </li>
                        </ul>
                        <li>
                          <label for="node3"><h6>Expression_value.xlsx</h6></label>
                          <ul>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            
            <!-- <br>
            <a href="{% url 'example_upload' %}" class="btn btn-primary">Example Data</a> -->
          {% endif %}
        </div>
      </div>
    </div>
    {% if table_html %}
    <div class="col-md-6 col-xl-6">
      <div class="card Recent-Users">
        <div class="card-header">
          <h3 class="mb-4">Client Information</h3><br>
          <h5 class="mb-4">Service ID</h5>
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h6>  {{ serviceID }}</h6>
            </div>
          </div>
          <br>
          <h5 class="mb-4">Sample species</h5>
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h6>  Human</h6>
            </div>
          </div>
          <br>
          <h5 class="mb-4">Sample count</h5>
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h6>{{ segments }}</h6>
            </div>
          </div>
          <br>
          <h5 class="mb-4">Comparison</h5>
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h6>{{ summary_data_length }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-6">
      <div class="card Monthly-sales">
        <div class="card-block">
          <h3 class="mb-4">Correlation plot</h3>
          <h4>Displaying the relationship between two Samples</h4>
            <div style="display: flex;">
              <div style="flex: 1; margin-right: 10px;">
                {{ cor_html|safe }}
              </div>
            </div>
        </div>
      </div>
    </div>
    </div>
    {% endif %}

    <div>
      
      {% if table_html %}
      <div class="col-xl-12 col-md-6">
        <div class="card Recent-Users">
          <div class="card-header">
            <h3>Sample Quality Control</h3>
            <br>       
            <h5>Contents of Expression value</h5>
            <br>
            <div class="table-responsive">
                  {{ table_html|safe }}
              <br>
            </div>
              <br>
              {% if bar_html %}
              <h4>Distribution of expression value for each samples using box plot and density plot</h4>
              <br>
                <div style="display: flex;">
                  <div style="flex: 1; margin-right: 10px;">
                    {{ bar_html|safe }}
                  </div>
                  <div style="flex: 1;">
                    {% if density_html %}
                    {{ density_html|safe }}
                    {% endif %}
                  </div>
                </div>
              {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <!--[ Recent Users ] start-->
    {% if 2fold_summary %}
    <div class="col-xl-12 col-md-6">
      <div class="card Recent-Users">
        <div class="card-header">
          <h5>DEG count</h5>
        </div>
        <div class="card-block px-10 py-3">
         <div class="table-responsive">
            {{ 2fold_summary|safe }}
            <br>
          </div>
            <h6>" DEG selection criteria&emsp;: 2fold & FDR<0.05 " </h6>
            <h6>* Up &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; : logFoldChange > 1 & FDR<0.05</h6>
            <h6>* Down &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;: logFoldChange < -1 & FDR<0.05</h6>
            <h6>* Total &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; : Up gene count + Down gene count</h6>
        </div>
      </div>
    </div>
    {% endif %} 
  </div>

{% endblock content %}
